/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .menuItem {
    display: flex;
    gap: 0.25rem;
    padding-left: 1rem;
  }
  .menuItemActive {
    display: flex;

    align-items: center;
    gap: 1.25rem;
    padding-left: 1rem;

    background-color: #71d8ad;
    border-radius: 0.434375rem;
  }

  .ItemActive {
    color: #002062;
  }
}
