/* Mobile-first styles */

/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .main {
        display: flex;
        flex-direction: column;

        background-color: #002062;

        height: 137vh;
        padding: 4rem;
        gap: 4rem;
    }
}

/* Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1500px) {
    .main {
        padding: 4.8125rem 6rem;
        height: 142vh;
    }
}