.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    background-color: #002062;

    align-items: center;
    justify-content: center;

    gap: 1.5rem;
}

.loginPage {
    background: #fff;
    border-radius: 30px;
    border: none;
    text-align: center;
    padding: 10px 45px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #002062;
  }